@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  /* --foreground-rgb: 0, 20, 19;
  --background-rgb: 255, 255, 255; */
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 20, 19;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 20, 19;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}
.test{
  color: rgb(89, 87, 233);
  background-color: rgb(240, 107, 28);
}

.portableText {
  @apply text-lg leading-relaxed;
}

.portableText p,
.portableText ul,
.portableText ol,
.portableText blockquote {
  @apply my-6;
}

.portableText h2 {
  @apply mb-4 mt-12 text-3xl leading-snug;
}

.portableText h3 {
  @apply mb-4 mt-8 text-2xl leading-snug;
}

.portableText a {
  @apply text-blue-500 underline;
}
.portableText a:hover {
  @apply text-blue-800;
}
