@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  /* --foreground-rgb: 0, 20, 19;
  --background-rgb: 255, 255, 255; */
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 20, 19;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 20, 19;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}
.test{
  color: rgb(89, 87, 233);
  background-color: rgb(240, 107, 28);
}
